services:
  backend:
    container_name: salao-x-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/usr/app
      - /usr/app/node_modules
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=${PORT}
      - NODE_ENV=${NODE_ENV}
      - FRONTEND_URL_DEV=${FRONTEND_URL_DEV}
      - FRONTEND_URL_PRD=${FRONTEND_URL_PRD}
      - ASAAS_API_URL=${ASAAS_API_URL}
      - ASAAS_API_URL_SANDBOX=${ASAAS_API_URL_SANDBOX}

  frontend:
    container_name: salao-x-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/usr/app
      - /usr/app/node_modules
    environment:
      - VITE_API_URL=${VITE_API_URL}
      - CHOKIDAR_USEPOLLING=true

  db:
    container_name: salao-x-postgres
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # Seção de verificação de saúde
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
