services:
  backend:
    container_name: salao_x_backend_dev
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "3004:3000"
    volumes:
      - ./backend:/usr/app
      - /usr/app/node_modules
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=${PORT}
      - NODE_ENV=${NODE_ENV}
      - FRONTEND_URL_DEV=${FRONTEND_URL_DEV}
      - FRONTEND_URL_PRD=${FRONTEND_URL_PRD}c
      - ASAAS_API_URL=${ASAAS_API_URL}
      - ASAAS_API_URL_SANDBOX=${ASAAS_API_URL_SANDBOX}
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  frontend:
    container_name: salao_x_frontend_dev
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/usr/app
      - /usr/app/node_modules
    environment:
      - VITE_API_URL=${VITE_API_URL}
      - CHOKIDAR_USEPOLLING=true

  db:
    container_name: salao_x_db_dev
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    container_name: salao-x-redis
    image: redis:7-alpine
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
